.thumbnail {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.infoContainer {
  position: fixed;
  font-size: 17px;
  left: 450px;
  margin: 10px;
  padding: 15px;
  background-color: #269287;
  color: #fff;
}

.name {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 20px;
}

.rating {
  vertical-align: bottom;
  display: inline-block;
}

.ratingList {
  display: inline-block;
}

.ratingList li {
  display: inline-block;
  cursor: pointer;
  padding: 3px;
  background: #269287;
  color: white;
  transition: all 200ms ease-in-out;
  margin: 0 3px;
}

.ratingList li:hover {
  color: #269287;
  background: white;
}
