.list {
  list-style: none;
  min-width: 400px;
  background-color: #f1fbfb;
  margin-right: 10px;
  padding: 15px;
}

.list li {
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  color: #0d5c63;
  font-weight: bold;
}
